<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LogsFolder">
			<Component Id="cmpLogsFiles" Guid="1A2B3C4D-5E6F-7A8B-9C0D-1E2F3A4B5C6D">
				<File Id="fil9C7E2A4B1D3F5E6879024B1C6D8F3A7E" Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\Logs\dotnet_logs.txt"/>
                <File Id="filB4F8D2E7A3C5691F0E8247B9D6A1C3F5" Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\Logs\cpp_logs.log"/>
				<RegistryValue Root="HKCU" Key="Software\MultiLangApp\Logs" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				<RemoveFolder Id="RemoveLogsFolder" On="uninstall" />
			</Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LogsComponentGroup">
			<ComponentRef Id="cmpLogsFiles"/>
        </ComponentGroup>
    </Fragment>
</Wix>