<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MultiLangApp" Language="1033" Version="1.0.0.0" Manufacturer="Milena" UpgradeCode="4e32b0a1-8e64-4c09-9b47-2f64d0a9f1c3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MultiLangApp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ImagesComponentGroup" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="MultiLangApp">
					 <Directory Id="ImagesFolder" Name="Images" />
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="WpfAppExe" Guid="9f7a68d2-53e1-4a6e-8d39-cd0f02e4a9b8">
				<File Id="WpfAppExeFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\WpfApp.exe" />
				<File Id="WpfAppDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\WpfApp.dll" />
				<File Id="RuntimeConfigJson"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\WpfApp.runtimeconfig.json" />
				<Shortcut Id="DesktopShortcut"
						  Directory="DesktopFolder"
						  Name="MultiLangApp"
						  WorkingDirectory="INSTALLFOLDER"
						  Advertise="no"
						  Description="Launch MultiLangApp" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\WpfApp"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
				<RemoveFolder Id="RemoveAppFolder" Directory="INSTALLFOLDER" On="uninstall"/>
			</Component>

			<Component Id="FortranProjectDll" Guid="d3c273e4-9a55-407f-b1b4-55c24a67c177">
				<File Id="FortranProjectDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\FortranProject.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\FortranProject"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="CliProjectDll" Guid="0d29f8a4-4b7e-44f2-bc96-3c7195f75d2a">
				<File Id="CliProjectDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\CliProject.dll"/>
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\CliProject"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="NetStandardLibDll" Guid="8e41c742-1d2f-4e9c-8d5e-3a9bcf6e7240">
				<File Id="NetStandardLibDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\NetStandardLib.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\NetStandardLib"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="NetFrameworkAppDll" Guid="2bfb15e9-93d7-4ea3-8d91-789e2f06f8b1">
				<File Id="NetFrameworkAppDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\NetFrameworkApp.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\NetFrameworkApp"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="SerilogDll" Guid="3d89c2b4-fd7a-4761-b437-7b43f91a0129">
				<File Id="SerilogDllFile"
						Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\Serilog.dll" />
				<File Id="SerilogSinksDllFile"
						Source="..\DotNetSolution\WpfApp\bin\X64\Release\net8.0-windows\Serilog.Sinks.File.dll" />
				<RegistryValue Root="HKCU"
								Key="Software\MultiLangApp\WpfApp"
								Name="installed"
								Type="integer"
								Value="1"
								KeyPath="yes"/>
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
