<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MultiLangApp" Language="1033" Version="1.0.0.0" Manufacturer="Milena" UpgradeCode="26f0a531-98c9-4f0f-a9b4-eecb83a1db77">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MultiLangApp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ImagesComponentGroup" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="MultiLangApp">
					 <Directory Id="ImagesFolder" Name="Images" />
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="WpfAppExe" Guid="f6b5a2a3-7ad0-4e1d-923d-6b98dcb617e3">
				<File Id="WpfAppExeFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\WpfApp.exe" />
				<File Id="WpfAppDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\WpfApp.dll" />
				<File Id="RuntimeConfigJson"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\WpfApp.runtimeconfig.json" />
				<Shortcut Id="DesktopShortcut"
						  Directory="DesktopFolder"
						  Name="MultiLangApp"
						  WorkingDirectory="INSTALLFOLDER"
						  Advertise="no"
						  Description="Launch MultiLangApp" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\WpfApp"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
				<RemoveFolder Id="RemoveAppFolder" Directory="INSTALLFOLDER" On="uninstall"/>
			</Component>

			<Component Id="FortranProjectDll" Guid="d3c273e4-9a55-407f-b1b4-55c24a67c177">
				<File Id="FortranProjectDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\FortranProject.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\FortranProject"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="CliProjectDll" Guid="b1f4e97a-2c6d-4c75-a0a4-998e1e465df7">
				<File Id="CliProjectDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\CliProject.dll"/>
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\CliProject"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="NetStandardLibDll" Guid="a2c4e8d1-45ab-4e1b-9c56-88e7686e3ad1">
				<File Id="NetStandardLibDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\NetStandardLib.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\NetStandardLib"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

			<Component Id="NetFrameworkAppDll" Guid="b9e5187c-3fcd-4ce6-81b6-b08b714ef22c">
				<File Id="NetFrameworkAppDllFile"
					  Source="..\DotNetSolution\WpfApp\bin\Release\net8.0-windows\NetFrameworkApp.dll" />
				<RegistryValue Root="HKCU"
							   Key="Software\MultiLangApp\NetFrameworkApp"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes"/>
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
